In [97]:
# Dependencies and Setup
import pandas as pd

In [98]:
# File to Load (Remember to Change These)
school_data_df = "Resources/schools_complete.csv"
student_data_df = "Resources/students_complete.csv"

In [99]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_df)
student_data = pd.read_csv(student_data_df)
school_data
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [100]:
# Combine the data into a single dataset. 
school_data_merged = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_merged.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [101]:
school_data_merged.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [102]:
# Calculate the total number of schools
uniqueShools= school_data_merged['school_name'].unique()
uniqueShools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [103]:
# Calculate the total number of students
countStudents= school_data_merged['Student ID'].value_counts()
countStudents

0        1
26116    1
26109    1
26110    1
26111    1
        ..
13057    1
13058    1
13059    1
13060    1
39169    1
Name: Student ID, Length: 39170, dtype: int64

In [104]:
# Calculate the total budget
totalBudget= school_data_merged['budget'].sum()
totalBudget

82932329558

In [105]:
# Calculate the average math score 
average_mathScores= school_data_merged['math_score'].mean()
average_mathScores

78.98537145774827

In [106]:
# Calculate the average reading score
average_readingScores= school_data_merged['reading_score'].mean()
average_readingScores

81.87784018381414

In [107]:
# Calculate the percentage of students with a passing math score (70 or greater)
passingMathScores= school_data_merged[(school_data_merged['math_score'] >= 70)].count()['math_score']
percentage_passingMath=passingMathScores/school_data_merged.count()['math_score']
percentage_passingMath

0.749808526933878

In [108]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passingReadingScores= school_data_merged[(school_data_merged['reading_score'] >= 70)].count()['reading_score']
percentage_passingReading=passingReadingScores/school_data_merged.count()['reading_score']
percentage_passingReading

0.8580546336482001

In [109]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
passingBoth= school_data_merged[(school_data_merged['math_score']['reading_score']>=70)].count()['math_score']['reading_score']
percentage_passingBoth= passingBoth/school_data_merged.count()['math_score']['reading_score']
percentage_passingBoth

KeyError: 'reading_score'

In [ ]:
# Create a dataframe to hold the above results

In [ ]:
# Optional: give the displayed data cleaner formatting

In [110]:
#School Name
indexed_schoolName= school_data_merged.set_index(['school_name'])

grouped_schoolName= indexed_schoolName.groupby(['school_name'])
print([grouped_schoolName])
grouped_schoolName.count().head(15)

[<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fa09d197070>]

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [111]:
# School Type
grouped_schoolType= school_data_merged.groupby(['school_name'])['type']
grouped_schoolType

grouped_schoolType.head()

0        District
1        District
2        District
3        District
4        District
           ...
37535     Charter
37536     Charter
37537     Charter
37538     Charter
37539     Charter
Name: type, Length: 75, dtype: object

In [112]:
# Total Students
grouped_totalStudent= school_data_merged.groupby(['school_name'])['size']
grouped_totalStudent

grouped_totalStudent.head()

0        2917
1        2917
2        2917
3        2917
4        2917
         ...
37535    1635
37536    1635
37537    1635
37538    1635
37539    1635
Name: size, Length: 75, dtype: int64

In [113]:
# Total School Budget
grouped_schoolBudget= school_data_merged.groupby(['school_name'])['budget']
grouped_schoolBudget

grouped_schoolBudget.head()

0        1910635
1        1910635
2        1910635
3        1910635
4        1910635
          ...
37535    1043130
37536    1043130
37537    1043130
37538    1043130
37539    1043130
Name: budget, Length: 75, dtype: int64

In [114]:
# Per Student Budget
grouped_studentBudget= school_data_merged['budget']/school_data_merged['size']
grouped_studentBudget

grouped_studentBudget.head()

0    655.0
1    655.0
2    655.0
3    655.0
4    655.0
dtype: float64

In [115]:
# Average Math Score
grouped_averageMath= school_data_merged.groupby(['school_name'])['math_score'].mean()
grouped_averageMath

grouped_averageMath.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [116]:
# Average Reading Score
grouped_averageReading= school_data_merged.groupby(['school_name'])['reading_score'].mean()
grouped_averageReading

grouped_averageReading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [117]:
# % Passing Math
grouped_schoolType= school_data_merged.groupby(['type'])
grouped_schoolType

In [118]:
# % Passing Reading
grouped_schoolType= school_data_merged.groupby(['type'])
grouped_schoolType

In [ ]:
# % Overall Passing (The percentage of students that passed math **and** reading.)

In [119]:
# Create an overview table that summarizes key metrics about each school
schoolSummary_df= pd.DataFrame({'School Type': grouped_schoolType,
                                'Total Students':grouped_totalStudent,
                                'Total School Budget': grouped_schoolBudget,
                                'Per Student Budget': grouped_studentBudget,
                                'Average Math Scores': grouped_averageMath,
                                'Average Reading Scores': grouped_averageReading,})
schoolSummary_df

ValueError: array length 15 does not match index length 39185