In [6]:
# Dependencies and Setup
import pandas as pd

In [7]:
# File to Load (Remember to Change These)
school_data_df = "Resources/schools_complete.csv"
student_data_df = "Resources/students_complete.csv"

In [8]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_df)
student_data = pd.read_csv(student_data_df)
school_data
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [117]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [9]:
# Combine the data into a single dataset. 
school_data_merged = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_merged.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
school_data_merged.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [11]:
# Calculate the total number of schools
uniqueShools= school_data_merged['school_name'].unique()
uniqueShools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [12]:
numberofSchools= len(uniqueShools)
numberofSchools

15

In [13]:
# Calculate the total number of students
countStudents= school_data_merged['Student ID'].count()
countStudents

39170

In [14]:
# Calculate the total budget
totalBudget= school_data_merged['budget'].unique ()
sumtotalBudget = totalBudget.sum()
sumtotalBudget

24649428

In [15]:
# Calculate the average math score 
average_mathScores= school_data_merged['math_score'].mean()
average_mathScores

78.98537145774827

In [16]:
# Calculate the average reading score
average_readingScores= school_data_merged['reading_score'].mean()
average_readingScores

81.87784018381414

In [17]:
# Calculate the percentage of students with a passing math score (70 or greater)
passingMathScores= school_data_merged[(school_data_merged['math_score'] >= 70)].count()['math_score']
percentage_passingMath=passingMathScores/school_data_merged.count()['math_score']
percentage_passingMath

0.749808526933878

In [18]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passingReadingScores= school_data_merged[(school_data_merged['reading_score'] >= 70)].count()['reading_score']
percentage_passingReading=passingReadingScores/school_data_merged.count()['reading_score']
percentage_passingReading

0.8580546336482001

In [19]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
passingBoth= school_data_merged[(school_data_merged['math_score'] >=70) & (school_data_merged['reading_score']>=70)].count()['student_name']
percentage_passingBoth= passingBoth/school_data_merged.count()['Student ID']
percentage_passingBoth

0.6517232575950983

In [52]:
districtSummary_df = pd.DataFrame({
    "Total Schools": [numberofSchools],
    "Total Students": [countStudents],
    "Total Budget": [sumtotalBudget],
    "Average Math Scores":[average_mathScores],
    "Average Reading Scores": [average_readingScores],
    "% Passing Math": [percentage_passingMath *100],
    "% Passing Reading": [percentage_passingReading *100],
    "% Overall Passing": [percentage_passingBoth *100]
    })
districtSummary_df

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [21]:
# Optional: give the displayed data cleaner formatting

In [91]:
#School Name
indexed_schoolName= school_data_merged.set_index(['school_name'])

grouped_schoolName= indexed_schoolName.groupby(['school_name'])

print([grouped_schoolName])
grouped_schoolName.count().head(15)

[<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ffe53c20dc0>]

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [119]:
# School Type
grouped_schoolType= school_data[['school_name', 'type']].set_index('school_name')
grouped2_schoolType =  grouped_schoolType.squeeze()
grouped2_schoolType

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [92]:
# Total Students
grouped_totalStudent= school_data_merged['school_name'].value_counts()
grouped_totalStudent

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [113]:
grouped_schoolBudget= school_data[['school_name', 'budget']].set_index('school_name')
grouped2_schoolBudget= grouped_schoolBudget.squeeze()
grouped2_schoolBudget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [110]:
# Per Student Budget
grouped_perstudentBudget= grouped2_schoolBudget/grouped_totalStudent
grouped_perstudentBudget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [86]:
# Average Math Score
grouped_averageMath= school_data_merged.groupby(['school_name'])['math_score'].mean()
grouped_averageMath

grouped_averageMath.head(15)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [87]:
# Average Reading Score
grouped_averageReading= school_data_merged.groupby(['school_name'])['reading_score'].mean()
grouped_averageReading

grouped_averageReading.head(15)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [50]:
# % Passing Math
grouped_passingMath= school_data_merged[(school_data_merged['math_score'] >=70) & (school_data_merged['reading_score']>=70)].count()['student_name']
grouped

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,2,Charter,1761,1056600
5868,5868,Todd Barber,M,11th,Shelton High School,95,99,2,Charter,1761,1056600
5869,5869,Desiree King,F,12th,Shelton High School,76,95,2,Charter,1761,1056600
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,2,Charter,1761,1056600

In [31]:
# % Passing Reading
grouped_passingReading= school_data_merged.groupby(['type'])
grouped_passingReading.head(15)

In [32]:
# % Overall Passing (The percentage of students that passed math **and** reading.)

In [112]:
# Create an overview table that summarizes key metrics about each school
schoolSummary_df= pd.DataFrame({'School Type': grouped_schoolType,
                                'Total Students':grouped_totalStudent,
                                'Total School Budget': grouped_schoolBudget,
                                'Per Student Budget': grouped_perstudentBudget,
                                'Average Math Scores': grouped_averageMath,
                                'Average Reading Scores': grouped_averageReading,
                                '% Passing Math':
                                '% Passing Reading':
                                '% Overall Passing':
                                })
schoolSummary_df

SyntaxError: invalid syntax (1889101571.py, line 9)

In [ ]:
#Sort and display the top five performing schools by % overall passing.

In [ ]:
#Sort and display the five worst-performing schools by % overall passing.

In [ ]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#  Average Math Score
#  Average Reading Score
#  % Passing Math
#  % Passing Reading
#  Overall Passing Rate (Average of the above two)

In [ ]:
# Create a table that breaks down school performances based on School Size. Use 4 reasonable bins to group school size. Include in the table each of the following:
#  Average Math Score
#  Average Reading Score
#  % Passing Math
#  % Passing Reading
#  Overall Passing Rate (Average of the above two)

In [ ]:
# Create a table that breaks down school performances based on School Type. Use 4 reasonable bins to group school type. Include in the table each of the following:
#  Average Math Score
#  Average Reading Score
#  % Passing Math
#  % Passing Reading
#  Overall Passing Rate (Average of the above two)